In [111]:
import pandas as pd
df=pd.read_csv('new_data.csv')
df=df[(df.type_char!='file_folder')&(df.type_char!='handwritten')]
df.head()

,Unnamed: 0,filename,type,text_image,type_char
0,0,img_0000000.jpg,0,FACTURE\n\nLOGO\n\nJoanna Binet\n48 Coubertin\...,facture
1,1,img_0000001.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture
2,2,img_0000002.jpg,0,FACTURE\n\nMon entreprise : Nom de la société\...,facture
3,3,img_0000003.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture
4,4,img_0000004.jpg,0,Payer en ligne >\nFACTURE No\n\nSFIDELI\n\nF/0...,facture

In [112]:
#nettoyage de text 
import re
import unicodedata
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))
stop_words.update(["." , ",",':','?'])
stop_words=list(stop_words)
stop_words.extend(stopwords.words('french'))
def unicode_to_ascii(s):
    return ''.join(c for c in unicodedata.normalize('NFD', s)
        if unicodedata.category(c) != 'Mn')

def preprocess_sentence(w):
    w = unicode_to_ascii(str(w).lower().strip())
    # creating a space between a word and the punctuation following it
    # eg: "he is a boy." => "he is a boy ."
    w = re.sub(r"([?.!,¿])", r" \1 ", w)
    w = re.sub(r'[" "]+', " ", w)
    # replacing everything with space except (a-z, A-Z, ".", "?", "!", ",")
    w = re.sub(r"[^a-zA-Z?.!]+", " ", w)
    w = re.sub(r'\b\w{0,2}\b', '', w)

    # remove stopword
    mots = word_tokenize(w.strip())
    mots = [mot for mot in mots if mot not in stop_words]
    return ' '.join(mots).strip()

In [113]:
df.text_image = df.text_image.apply(lambda x :preprocess_sentence(x))
df.head()

,Unnamed: 0,filename,type,text_image,type_char
0,0,img_0000000.jpg,0,facture logo joanna binet coubertin paris fact...,facture
1,1,img_0000001.jpg,0,joanna binet coubertin paris facture facture c...,facture
2,2,img_0000002.jpg,0,facture entreprise nom societe adresse postale...,facture
3,3,img_0000003.jpg,0,joanna binet coubertin paris facture cendrillo...,facture
4,4,img_0000004.jpg,0,payer ligne facture sfideli date creation date...,facture

In [117]:
#diviser le jeu de données 
from sklearn.model_selection import train_test_split
X_text_train,X_text_test, y_train, y_test=train_test_split(df.text_image,df.type,test_size=0.2,random_state=1234)

In [118]:
#tokenisation
import  tensorflow as tf
tokenizer=tf.keras.preprocessing.text.Tokenizer(num_words=10000)
tokenizer.fit_on_texts(X_text_train)
X_train=tokenizer.texts_to_sequences(X_text_train)
X_test=tokenizer.texts_to_sequences(X_text_test)
X_train=tf.keras.preprocessing.sequence.pad_sequences(X_train, maxlen=100, padding='post', truncating='post')
X_test=tf.keras.preprocessing.sequence.pad_sequences(X_test, maxlen=100, padding='post', truncating='post')

In [122]:
#créer un reseaux de neuron
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Embedding, Dense, GlobalAveragePooling1D, Dropout
model=Sequential()
model.add(Embedding(10000, 200))
model.add(GlobalAveragePooling1D())
model.add(Dense(units = 256, activation = "relu"))
model.add(Dropout(0.3))
model.add(Dense(units = 23, activation = "softmax"))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, None, 200)         2000000

 global_average_pooling1d_1   (None, 200)              0
 (GlobalAveragePooling1D)

 dense_2 (Dense)             (None, 256)               51456

 dropout_1 (Dropout)         (None, 256)               0

 dense_3 (Dense)             (None, 23)                5911

=================================================================
Total params: 2,057,367
Trainable params: 2,057,367
Non-trainable params: 0
_________________________________________________________________

In [123]:
#entrainement
model.compile(loss="sparse_categorical_crossentropy",optimizer = "adam", metrics = ["accuracy"])
model.fit(X_train,y_train,epochs = 50, batch_size = 32,validation_data = [X_test, y_test])

Epoch 1/50
39/39 [==============================] - 2s 27ms/step - loss: 2.8937 - accuracy: 0.2680 - val_loss: 2.6088 - val_accuracy: 0.2848
Epoch 2/50
39/39 [==============================] - 1s 24ms/step - loss: 2.4194 - accuracy: 0.3522 - val_loss: 2.3094 - val_accuracy: 0.3981
Epoch 3/50
39/39 [==============================] - 1s 23ms/step - loss: 2.0258 - accuracy: 0.4081 - val_loss: 2.0703 - val_accuracy: 0.4142
Epoch 4/50
39/39 [==============================] - 1s 23ms/step - loss: 1.7493 - accuracy: 0.4640 - val_loss: 1.9107 - val_accuracy: 0.4498
Epoch 5/50
39/39 [==============================] - 1s 23ms/step - loss: 1.5379 - accuracy: 0.5644 - val_loss: 1.7796 - val_accuracy: 0.4790
Epoch 6/50
39/39 [==============================] - 1s 24ms/step - loss: 1.3796 - accuracy: 0.6138 - val_loss: 1.6794 - val_accuracy: 0.5016
Epoch 7/50
39/39 [==============================] - 1s 24ms/step - loss: 1.2587 - accuracy: 0.6397 - val_loss: 1.5959 - val_accuracy: 0.5178
Epoch 8/50
39/39 [==============================] - 1s 23ms/step - loss: 1.1306 - accuracy: 0.6761 - val_loss: 1.5238 - val_accuracy: 0.5405
Epoch 9/50
39/39 [==============================] - 1s 24ms/step - loss: 1.0122 - accuracy: 0.7255 - val_loss: 1.4596 - val_accuracy: 0.5534
Epoch 10/50
39/39 [==============================] - 1s 24ms/step - loss: 0.9104 - accuracy: 0.7725 - val_loss: 1.3931 - val_accuracy: 0.5922
Epoch 11/50
39/39 [==============================] - 1s 24ms/step - loss: 0.8246 - accuracy: 0.8024 - val_loss: 1.3468 - val_accuracy: 0.5890
Epoch 12/50
39/39 [==============================] - 1s 24ms/step - loss: 0.7491 - accuracy: 0.8154 - val_loss: 1.3247 - val_accuracy: 0.6019
Epoch 13/50
39/39 [==============================] - 1s 24ms/step - loss: 0.6696 - accuracy: 0.8397 - val_loss: 1.2894 - val_accuracy: 0.5922
Epoch 14/50
39/39 [==============================] - 1s 25ms/step - loss: 0.6302 - accuracy: 0.8462 - val_loss: 1.2217 - val_accuracy: 0.6278
Epoch 15/50
39/39 [==============================] - 1s 23ms/step - loss: 0.5801 - accuracy: 0.8543 - val_loss: 1.2325 - val_accuracy: 0.6343
Epoch 16/50
39/39 [==============================] - 1s 24ms/step - loss: 0.5415 - accuracy: 0.8623 - val_loss: 1.1763 - val_accuracy: 0.6505
Epoch 17/50
39/39 [==============================] - 1s 23ms/step - loss: 0.5127 - accuracy: 0.8721 - val_loss: 1.1928 - val_accuracy: 0.6472
Epoch 18/50
39/39 [==============================] - 1s 24ms/step - loss: 0.4853 - accuracy: 0.8777 - val_loss: 1.2026 - val_accuracy: 0.6311
Epoch 19/50
39/39 [==============================] - 1s 25ms/step - loss: 0.4516 - accuracy: 0.8810 - val_loss: 1.1721 - val_accuracy: 0.6505
Epoch 20/50
39/39 [==============================] - 1s 24ms/step - loss: 0.4433 - accuracy: 0.8850 - val_loss: 1.1811 - val_accuracy: 0.6505
Epoch 21/50
39/39 [==============================] - 1s 25ms/step - loss: 0.4191 - accuracy: 0.8915 - val_loss: 1.1481 - val_accuracy: 0.6570
Epoch 22/50
39/39 [==============================] - 1s 25ms/step - loss: 0.4152 - accuracy: 0.8907 - val_loss: 1.1688 - val_accuracy: 0.6311
Epoch 23/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3921 - accuracy: 0.8907 - val_loss: 1.1585 - val_accuracy: 0.6570
Epoch 24/50
39/39 [==============================] - 1s 24ms/step - loss: 0.3862 - accuracy: 0.9012 - val_loss: 1.1915 - val_accuracy: 0.6440
Epoch 25/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3731 - accuracy: 0.8980 - val_loss: 1.1381 - val_accuracy: 0.6667
Epoch 26/50
39/39 [==============================] - 1s 24ms/step - loss: 0.3639 - accuracy: 0.9061 - val_loss: 1.1443 - val_accuracy: 0.6505
Epoch 27/50
39/39 [==============================] - 1s 25ms/step - loss: 0.3574 - accuracy: 0.9012 - val_loss: 1.1757 - val_accuracy: 0.6472
Epoch 28/50
39/39 [==============================] - 1s 25ms/step - loss: 0.3560 - accuracy: 0.9020 - val_loss: 1.2189 - val_accuracy: 0.6440
Epoch 29/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3419 - accuracy: 0.9036 - val_loss: 1.1909 - val_accuracy: 0.6440
Epoch 30/50
39/39 [==============================] - 1s 25ms/step - loss: 0.3277 - accuracy: 0.9069 - val_loss: 1.1753 - val_accuracy: 0.6343
Epoch 31/50
39/39 [==============================] - 1s 25ms/step - loss: 0.3442 - accuracy: 0.9061 - val_loss: 1.1961 - val_accuracy: 0.6505
Epoch 32/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3326 - accuracy: 0.9028 - val_loss: 1.1860 - val_accuracy: 0.6537
Epoch 33/50
39/39 [==============================] - 1s 24ms/step - loss: 0.3175 - accuracy: 0.9077 - val_loss: 1.1846 - val_accuracy: 0.6570
Epoch 34/50
39/39 [==============================] - 1s 24ms/step - loss: 0.3197 - accuracy: 0.9020 - val_loss: 1.2493 - val_accuracy: 0.6537
Epoch 35/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3096 - accuracy: 0.9150 - val_loss: 1.2222 - val_accuracy: 0.6537
Epoch 36/50
39/39 [==============================] - 1s 23ms/step - loss: 0.3125 - accuracy: 0.9142 - val_loss: 1.2070 - val_accuracy: 0.6537
Epoch 37/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2985 - accuracy: 0.9117 - val_loss: 1.2253 - val_accuracy: 0.6570
Epoch 38/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2980 - accuracy: 0.9109 - val_loss: 1.2301 - val_accuracy: 0.6537
Epoch 39/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2942 - accuracy: 0.9190 - val_loss: 1.2798 - val_accuracy: 0.6570
Epoch 40/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2951 - accuracy: 0.9109 - val_loss: 1.2988 - val_accuracy: 0.6311
Epoch 41/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2866 - accuracy: 0.9166 - val_loss: 1.2482 - val_accuracy: 0.6505
Epoch 42/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2858 - accuracy: 0.9126 - val_loss: 1.2351 - val_accuracy: 0.6537
Epoch 43/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2848 - accuracy: 0.9126 - val_loss: 1.2369 - val_accuracy: 0.6472
Epoch 44/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2890 - accuracy: 0.9158 - val_loss: 1.2579 - val_accuracy: 0.6440
Epoch 45/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2958 - accuracy: 0.9142 - val_loss: 1.3406 - val_accuracy: 0.6408
Epoch 46/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2770 - accuracy: 0.9190 - val_loss: 1.2616 - val_accuracy: 0.6570
Epoch 47/50
39/39 [==============================] - 1s 25ms/step - loss: 0.2722 - accuracy: 0.9158 - val_loss: 1.3645 - val_accuracy: 0.6246
Epoch 48/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2733 - accuracy: 0.9174 - val_loss: 1.2958 - val_accuracy: 0.6440
Epoch 49/50
39/39 [==============================] - 1s 23ms/step - loss: 0.2724 - accuracy: 0.9134 - val_loss: 1.3348 - val_accuracy: 0.6537
Epoch 50/50
39/39 [==============================] - 1s 24ms/step - loss: 0.2739 - accuracy: 0.9158 - val_loss: 1.3039 - val_accuracy: 0.6537

In [121]:
#evaluation 
model.evaluate(X_test, y_test)

10/10 [==============================] - 0s 3ms/step - loss: 1.3480 - accuracy: 0.6537

[1.3480002880096436, 0.6537216901779175]